# User Testing Report

User testing was conducted by Anna Odeh on October 22 between the times of 15:15 and 16:30 with the following participants:

- Chris Chan
- Keisha Chamberlain
- Dima Badawi

## Tasks

1. Find an information about specific bird
2. Find an introduction information about the website 
3. Find an article about birds decoration

---

## Individual Results & Observations

### Chris Chan

- He clicked on the link as expected…
- He had a feeling hat intoductionary info is a little bit too long


### Keisha Chamberlain

- She clicked on the link as expected…
- {He had troubles completing a specific task…}
- The linkes were found quickly

### Dima Badawi

- She clicked on the link as expected…
- {He had troubles completing a specific task…}
- The linkes were found quickly

---

## Trends

### Critical, Needs Fixing, Unable to Complete

don't have any yet

### Serious, Causes Frustration, May Hinder Completion

don't have any yet

### Minor, Annoying, Won’t Hinder Completion

- don't have any yet