<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{page.meta}}">
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Anna Odeh">
	<meta name="handheldfriendly" content="true">
  	<meta name="mobileoptimized" content="240">

<!--	<link rel="shortcut icon" href="../../assets/ico/favicon.png">-->
	
<!--	<title>Tropical Birds · remarkably diverse species; Ottawa, Canada</title>-->
	
	<!--Bootstrap core CSS-->
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">

	
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	 
	 <script src="js/modernizr.js"></script>
	 
	 <link rel="shortcut icon" href="favicon.ico">
	 
	 <!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{page.title}}">
	<meta property="og:url" content="http://fullurl.com/to-this/article.http">
	<!--Image size: minimum 200x200; recommended 1500x1500-->
	<meta property="og:image" content="http://odehanna.github.io/large-data-website/index.html">
	 <!-- `og:description` is also optional, but could easily be filled with the meta description -->
	<meta property="og:description" content="{{page.meta}}">
	 <!-- `og:site_name` is optional but highly recommended -->
	<meta property="og:site_name" content="Tropical Birds">
	
	
	<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="{{page.title}}">
	<meta property="twitter:url" content="http://fullurl.com/to-this/article.http">
	<!--Image size: minimum 120x120; recommended 1500x1500-->
	<meta property="twitter:image" content="http://odehanna.github.io/large-data-website/index.html">
	<meta property="twitter:description" content="{{page.meta}}">
	 
</head>
{{page.url}}

<!--	{% include nav.html %}-->
<body>

<ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#complementary">Skip to secondary content</a></li>
<li><a href="#navigation">Skip to navigation</a></li>
</ul>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<img src="{{site.baseurl}}/images/logo.svg"  alt="company logo" class="logo">
				<a class="navbar-brand" href="{{site.baseurl}}/index.html" rel="home">Tropical Birds</a>
			</div>
			
			<nav role="navigation" id="navigation">
			<div class="navbar-collapse collapse" >
				<ul class="nav navbar-nav">
					<li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/index.html" rel="home">Home</a></li>
					  <li class="{% if page.url == '/enviromental-facts.html' %}active{% endif %}"><a href="{{site.baseurl}}/enviromental-facts.html"> Enviromental Facts</a></li>
					  <li class="{% if page.url == '/endangered.html' %}active{% endif %}"><a href="{{site.baseurl}}/endangered.html"> Endangered Birds</a></li>
					  <li class="{% if page.url == '/inhabitants.html' %}active{% endif %}"><a href="{{site.baseurl}}/inhabitants.html"> Inhabitants</a></li>
					   <li class="dropdown {% if page.url contains 'birds' %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">List of Birds<b class="caret"></b></a>
              <ul class="dropdown-menu">
               <li><a href="{{site.baseurl}}/birds/african-grey.html">African Grey</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Booby</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Flamingo</a></li>
				 <li><a href="{{site.baseurl}}/birds/african-grey.html">Toucan</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Boreno</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Cockatoo</a></li>
				 <li><a href="{{site.baseurl}}/birds/african-grey.html">Zebra Finches</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Parakeets</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Blue & Gold Macaw</a></li>
				<li><a href="{{site.baseurl}}/birds/african-grey.html">Ibis</a></li>
				
				</ul>
				</li>
				</ul>
			</div>
			</div>
			</div>

	 
	 {{content}}
	 
	 <footer>
	 	<p class="copyright">© 2013 Anna Odeh Design</p>
		  <ul class="footer-menu">
               <li><a href="{{site.baseurl}}/birds/african-grey.html">African Grey</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Booby</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Flamingo</a></li>
				 <li><a href="{{site.baseurl}}/birds/african-grey.html">Toucan</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Boreno</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Cockatoo</a></li>
				 <li><a href="{{site.baseurl}}/birds/african-grey.html">Zebra Finches</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Parakeets</a></li>
               <li><a href="{{site.baseurl}}/birds/african-grey.html">Blue & Gold Macaw</a></li>
				<li><a href="{{site.baseurl}}/birds/african-grey.html">Ibis</a></li>
				
				</ul>
				</li>
				</ul>
		</footer>

	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script  src="{{site.baseurl}}/js/jquery.js"></script>
    <script  src="{{site.baseurl}}/js/bootstrap.min.js"></script>		
				
	<!-- {% include nav.html %}-->
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46025237-1', 'odehanna.github.io');
  ga('send', 'pageview');

</script>

	 </body>
	 </html>